mat-card {
    margin: 20px;
    padding: 15px;
    background-color: #e6e8eb;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3f51b5;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  mat-icon {
    color: #3f51b5;
  }
  
  h4[matLine] {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  p[matLine] {
    font-size: 0.9em;
    color: #757575;
  }
  
  button[mat-icon-button] {
    margin-left: auto;
    margin-right: 8px;
  }
  
  .no-appointments {
    text-align: center;
    color: #757575;
    font-size: 1em;
    margin-top: 20px;
  }
  